.card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 0.5rem;
  border-radius: 10px;
  width: 18rem;
  height: 25rem;
  border: 5px solid black;
  
}

.botton{
  display: flex;
  height: 50px;
  width: 10vw;
  align-items: center;
  justify-content: space-between;
}

.buttonFav{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  border: 5px solid black;
}


.btn_x {
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
  width: 2rem;
  height: 2rem;
}

.btn_x:hover{
  cursor: pointer;
  background: red;
  transition: 1s ease-in ;
  transition: 0.5s ease-out ;
}

.container_img{
  width: 100%;
}

.img_card{
  width: 100%;
}
